

body{
    font-family: sans-serif;
    background-color: #cff7fa;
}

#wrapper{
    text-align: center;
}

h1{
background-color: blueviolet;
color: #fff;
border: solid 1px #0ff;
width: 50%
}

h2{
    background-color: #ff0066;
    color: #fff;
    border: solid 1px rgb(24, 94, 3);
    width: 30%;
}

h3{
    background-color: #320046;
    color: #fff;
    border: solid 1px #0ff;
    width: 60%;
}


h4{
    background-color:#420088;
    color: #fff;
    border: solid 1px #0ff;
    width: 80%;
}

form{
    background: #320046;
    color: #fff;
    border: solid 1px #fff;
}

